  #logoSVG{
    color: var(--text-color);
  }
  #homeSVG{
    margin-bottom: -0.4em;
    color: var(--text-color);
  }
  #trendingSVG{
    margin-bottom: -0.4em;
    color: var(--text-color);
  }
  #contactSVG{
    margin-bottom: -2px;
    color: var(--text-color);
  }
  #headerLineSVG{
    display: block;
    margin: 0 auto;
    width: calc(100vw - 20px);
    height: 2px;
    color: var(--text-color);
  }
  #footerLineSVG{
    display: block;
    margin: 0 auto;
    width: calc(100vw - 20px);
    height: 2px;
    color: var(--text-color);
  }