#gallerySpan{
    position: absolute;
    top: 20px;
    left: 14px;
  }
  
  #logoSVG{
    position: absolute;
    color: var(--text-color);
  }
  #home{
    position: relative;
  }
  #homeSVG{
    position: absolute;
    left: 28%;
    bottom: 75%;
    color: var(--text-color);
  }
  #trending{
    position: relative;
  }
  #trendingSVG{
    position: absolute;
    left: 36%;
    bottom: 70%;
    color: var(--text-color);
  }
  #contact{
    position: relative;
  }
  #contactSVG{
    position: absolute;
    left: 38%;
    bottom: 87%;
    color: var(--text-color);
  }
  #headerLineSVG{
    position: absolute;
    left: 5px;
    bottom: 3px;
    width: calc(100vw - 10px);
    height: 2px;
    color: var(--text-color);
  }
  #footerLineSVG{
    position: absolute;
    left: 5px;
    top: 0;
    width: calc(100vw - 10px);
    height: 2px;
    color: var(--text-color);
  }